
.write{
    width: 80vw;
    margin: 50px auto;
    position: relative;
}

.writeForm{
    display: flex;
    flex-direction: column;
}

.writeImg{
    width: 70vw;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.writeInputs{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.add{
    color: rgb(83, 81, 81);
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
}

.writeTitleInp{
    margin-left: 15px;
    border: none;
    outline: none;
    font-size: 28px;
    width: 65vw;
}

.writeDescInp{
    margin-top: 20px;
    margin-left: 15px;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    height: 230px;
}

.writeBtn{
    position: absolute;
    top: 320px;
    right: 10px;
    font-size: 16px;
    background-color: teal;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.writeBtn:hover{
    background-color: #005e5e;
}