.post{
    margin: 20px;
    padding: 10px;
}

.postWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.postImg{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCats{
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    margin-top: 8px;
}

.postCats > span{
    color: #be9656;
    cursor: pointer;
}

.postTitle{
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    margin: 15px 0;
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;
}

.postDate{
    font-family: "Lora", serif;
    color: #999;
    margin-bottom: 20px;
    font-style: italic;
}

.postDesc{
    width: 390px;
    font-family: 'Varela Round', sans-serif;
    color: #444;
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    cursor: pointer;
}